


@media (max-width: 575px) {
    #long-nav-bar-container {
        display: none;
    }
    
    #principal-content {
        text-align: center;
    }

    #logo-sss {
        width: 15%;
    }
}

@media (min-width: 576px) {
    #nav-bar-container, #logo-sss {
        display: none;
    }

    #logo-sssm {
        width: 80%;
    }

    .nav-item {
        text-align: center;
        vertical-align: middle;
    }

    .nav-link {
        color: black;
    }
}
